.pollSlider0{
	position:fixed;
	 height:80%;
	
	width:200px;
	right:0px;
	margin-right: -200px;


	background: #000000;
	border:1px solid #111111;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	
	filter: alpha(opacity=85);
	opacity: .85;


}

.pollSlider1{
	position:fixed;
	 height:80%;
	
	width:200px;
	right:0px;
	margin-right: -200px;


	background: #000000;
	border:1px solid #111111;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	
	filter: alpha(opacity=85);
	opacity: .85;
}

.pollSlider2{
  	position:fixed;
	 height:80%;
	
	width:200px;
	right:0px;
	margin-right: -200px;


	background: #000000;
	border:1px solid #111111;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	
	filter: alpha(opacity=85);
	opacity: .85;


}

.pollSlider3{
	position:fixed;
	 height:80%;
	
	width:200px;
	right:0px;
	margin-right: -200px;


	background: #000000;
	border:1px solid #111111;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	
	filter: alpha(opacity=85);
	opacity: .85;
}
.pollSlider-button0{
    position:fixed;
    width:0px;
    height:25px;
    right:0px;
   
    top:100px;
	text-decoration: none;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 20px 15px 20px 20px;
	font-weight: 700;
	background:#333333 url(assets/img/to_do.jpg) 15% 55% no-repeat;
	border:1px solid #444444;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	display: block;
}

.pollSlider-button0:hover{
 position:fixed;
    width:0px;
    height:25px;
    right:0px;
text-decoration: none;
top: 100px; right: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 20px 20px 30px;
font-weight: 700;
background:#222222 url(images/to_do.png) 15% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 0px;
-webkit-border-bottom-right-radius: 0px;
display: block;
}


.active.pollSlider-button0 {
background:#222222 url(images/to_do.png) 15% 55% no-repeat;
}


.pollSlider-button1{
    position:fixed;
     width:0px;
    height:25px;
    right:0px;
   
    top:200px;
	text-decoration: none;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 20px 15px 20px 20px;
	font-weight: 700;
	background:#333333 url(images/message.png) 15% 55% no-repeat;
	border:1px solid #444444;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	display: block;
}

.pollSlider-button1:hover{
 position:fixed;
    width:0px;
    height:25px;
    right:0px;
	text-decoration: none;
top: 200px; right: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 20px 20px 30px;
font-weight: 700;
background:#222222 url(images/message.png) 15% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 0px;
-webkit-border-bottom-right-radius: 0px;
display: block;
}


.active.pollSlider-button1 {
background:#222222 url(images/minus.png) 15% 55% no-repeat;
}

.pollSlider-button2{
    position:fixed;
     width:0px;
    height:25px;
    right:0px;
   
    top:300px;
	text-decoration: none;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 20px 15px 20px 20px;
	font-weight: 700;
	background:#333333 url(images/calendar.png) 15% 55% no-repeat;
	border:1px solid #444444;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	display: block;
}

.pollSlider-button2:hover{
 position:fixed;
    width:0px;
    height:25px;
    right:0px;
	text-decoration: none;
top: 300px; right: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 20px 20px 30px;
font-weight: 700;
background:#222222 url(images/calendar.png) 15% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 0px;
-webkit-border-bottom-right-radius: 0px;
display: block;
}


.active.pollSlider-button2 {
background:#222222 url(images/calendar.png) 15% 55% no-repeat;
}

.pollSlider-button3{
    position:fixed;
    width:0px;
    height:25px;
    right:0px;
   
    top:400px;
	text-decoration: none;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 20px 15px 20px 20px;
	font-weight: 700;
	background:#333333 url(images/plus.png) 15% 55% no-repeat;
	border:1px solid #444444;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	display: block;
}

.pollSlider-button3:hover{
 position:fixed;
    width:0px;
    height:25px;
    right:0px;
	
text-decoration: none;
top: 400px; right: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 20px 20px 20px;
font-weight: 700;
background:#222222 url(images/plus.png) 15% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 0px;
-webkit-border-bottom-right-radius: 0px;
display: block;
}


.active.pollSlider-button3 
{
background:#222222 url(images/plus.png) 15% 55% no-repeat;
}
.span3:hover .hov
{
	color:red;
}
.span3:hover
{
	/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #EFE0AE 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #EFE0AE 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #FFFFFF 0%, #EFE0AE 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #EFE0AE));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #EFE0AE 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #FFFFFF 0%, #EFE0AE 100%);
}
.span3
{
	width:250px;
	height:250px;
	position:relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    #background-color:yellow;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #C2EFD4 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #C2EFD4 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #C2EFD4 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #C2EFD4));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #C2EFD4 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #FFFFFF 0%, #C2EFD4 100%);
}
div.span3 a 
{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */
    z-index:10; /* raises anchor tag above everything else in div */
    background-color:white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=1); /*workaround to make clickable in IE */
}
